.body{
  /*padding-top: 60px*/
  margin-top: 0px;
}
.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

.box{
  margin-top:120px;
  padding: 30px 10px 30px 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

}

.row-main{
  margin:0px;
}
.login-form{
  /*background:#FFFFFF;*/
  padding: 20px;
}
.next-button{
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.input{
  margin-top: 30px;
  background: transparent;
  /*outline: none;*/

  border:none;
  border-bottom:1px black solid;
  padding-left: 0px;
  border-radius: 0px;
}

.username-input:focus{
  background: transparent;

}

.alert{
  color: red;
  padding-left: 0px;
}
